{% for paquetDe3Produits in pagination|batch('3') %}
    <div class="row">
        {%  for product in paquetDe3Produits %}
            <div class="col">
                <div class="card">
                    {#<img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}" />#}
                    <img class="card-img-top" src="{{ asset('img/products/'~product.imageName) }}" alt="{{ product.imageName }}">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ product.name }}
                        </h4>
                        <p class="card-text">
                            <a href="{{ path('app_product_show', {slug: product.slug}) }}" class="btn btn-outline-info">Détail</a>
                            <a href="{{ path('app_product_edit', {id: product.id}) }}" class="btn btn-outline-warning">Modifier</a>
                            <a href="{{ path('app_product_delete', {id: product.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}