{% trans_default_domain 'FOSUserBundle' %}

<h1>Inscription</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_label(form.username, "Nom d'utilisateur") }}
    {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}

    {{ form_label(form.email, "Adresse e-mail") }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}

    {{ form_label(form.plainPassword.first, "Mot de passe") }}
    {{ form_widget(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.first) }}

    {{ form_label(form.plainPassword.second, "Répétez le mot de passe") }}
    {{ form_widget(form.plainPassword.second) }}
    {{ form_errors(form.plainPassword.second) }}

    {{ form_widget(form.identity) }}
    {{ form_errors(form.identity) }}
<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-outline-primary"/>
</div>
{{ form_end(form) }}
