{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h1>Ajout d'un produit</h1>
        {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.description) }}
            {{ form_row(form.price) }}

            <span>Image du produit</span>
            <div class="custom-file">
                {{ form_row(form.imageFile) }}
            </div>

            {{ form_row(form.isPublished) }}
            <input type="submit" value="Ajouter" class="btn btn-primary">
        {{ form_end(form) }}

    </main>
{% endblock %}